// CONSTANT VARIABLES FOR THROUGHOUT YOUR PROJECT

// COLORS
$COLOR-GREY           : #666;
$COLOR-LIGHTGREY      : #CCC;
$COLOR-ORANGE         : #d02816;
$COLOR-DARK-RED       : #600;

//OLD ORANGE #f37342;
// LINKS


// SITE
$BASE-SITE-WIDTH: 960px;

// TYPE
$BASE_FONT_FAMILY: Arial;
$BASE_FONT_SIZE: 12px;
$BASE-LINE_HEIGHT: normal;
$FONT-COLOR: #222;

// SPRITES ARRAY
$SPRITES_ARRAY: test-sprite;

// SPRITE MAP
//$SPRITE_MAP: sprite-map("sprites/*.png", $spacing: 15px );

// RETINA SPRITE MAP
//$RETINA_SPRITE_MAP: sprite-map("retina-sprites/*.png", $spacing: 15px );



