/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html,
   button,
   input,
   select,
   textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: Georgia;
    background:url(/img/bg_tile.jpg) repeat;

}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

 img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

   .chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a.more_link{
    color:#EF1010;
    text-decoration:none;
    font-size:10px;
    text-transform:uppercase;
    font-family:'Droid Sans', Arial, sans-serif;
    font-style:normal;
}
a.more_link:hover{
    border-bottom:1px dotted #ddd;
}
.clr{
    clear:both;
}
.container {
    position:relative;

}

/* ==========================================================================
   Logo Grid
   ========================================================================== */
   .logo-grid{
    width:100%;
    padding-left:0;

    perspective: 1000;

    li{
        list-style: none;
        float:left;
        margin: 0 1px 1px 0;
        transform-style: preserve-3d;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        -ms-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;

        &.flip{
         -webkit-transform: rotateX(360deg); 
         -moz-transform: rotateX(360deg);  
         -ms-transform: rotateX(360deg); 
         -o-transform: rotateX(360deg);  
         transform: rotateX(360deg);
     }
 }

}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;
}


/* ==========================================================================
   Skillset
   ========================================================================== */

   .skill-set{
    padding:0 0 0 0;
    margin:0 0 0 0;
    position: relative;


    &.active{
        .amount{
            position: absolute;
            right:0;
            min-width: 20px;
            top:0;
            padding:0px 20px;
            background:#555;
            color: white;
            font-size: 12px;
            z-index: 20;
            display: inline-block;
            margin-bottom: 0;
        }

        li{
            position: relative;
            box-sizing: border-box;
            overflow: hidden;
            .bar{

                box-sizing: border-box;
                z-index: 10;
                float: left;
            }
            &.l1 .bar{
                width:10%;
            }
            &.l2 .bar{
                width:20%;
            }
            &.l3 .bar{
                width:30%;
            }
            &.l4 .bar{
                width:40%;
            }
            &.l5 .bar{
                width:50%;
            }
            &.l6 .bar{
                width:60%;
            } 
            &.l7 .bar{
                width:70%;
            } 
            &.l8 .bar{
                width:80%;
            } 
            &.l9 .bar{
                width:90%;
            } 
            &.l10 .bar{
                width:100%;
            }  
        }
    }


    li{
        list-style: none;
        background: #444; 
        padding:1px;
        margin-bottom: 5px;
        //@include border-radius(8px);
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
        position: relative;
        overflow: hidden;


        .bar{
            color:white;
            background:#222;
            background: rgba(0, 0, 0, 0.5); 
            padding:3px 20px;
            width:60%;
            display:block;
            font-family: "atrament-web",Georgia,sans-serif;
            white-space:nowrap;
            //@include border-radius(8px);
            width:10%;
            position: relative;
            -webkit-transition: all 2.3s ease-out;  /* Safari 3.2+, Chrome */
            -moz-transition: all 2.3s ease-out;  /* Firefox 4-15 */
            -o-transition: all 2.3s ease-out;  /* Opera 10.5–12.00 */
            transition: all 2.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
        }
        
    }
}


/* ==========================================================================
   Work
   ========================================================================== */

   .works{
    .sixcol{
        overflow:hidden;
        p{
            margin-top:10px;
        }
    }

    .thumb-container{
        background:black;
        a{
            position:relative;
            span{
                position:absolute;
                // left:550px;
                left:110%;
                top:-15px;
                padding:20px;
                background:rgb(208, 40, 22);
                background:rgba(208, 40, 22, 0.0);  
                color:white;
                @include prefixedTransition(all, 400ms, ease-out);
                display:block;

                &:hover, &:active{
                    color:black;
                }
            }
            img{
               width: 100%;
               @include prefixedTransition(all, 400ms, ease-out);

           }
           &:hover, &:active{


            span{
                    // left:200px;
                    left:200px;
                    top:-15px;
                    background:rgb(208, 40, 22); 
                    background:rgba(208, 40, 22, 0.9); 
                }

                img{
                    @include opacity(0.5);
                    -webkit-filter: grayscale(100%);
                    -moz-filter: grayscale(100%);
                    -ms-filter: grayscale(100%);
                    -o-filter: grayscale(100%);
                    filter: grayscale(100%);


                }
                
            }
        }
        
    }
}

.view-animate{
  padding-left: 0;
  padding-right: 0;
}
.view-animate-container {
  position:relative;

}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:0.25s linear all;
  transition:0.25s linear all;
  display:block;
  width:100%;
  position:relative;
  padding: 0;
  min-height:1000px;
  -webkit-backface-visibility: hidden;
}

.view-animate.ng-enter {
  top:30px;
  opacity: 0;
  transition-delay: 0.4s;
}

.view-animate.ng-enter.ng-enter-active {
  top:0;
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  top:-30px;
  opacity: 0;
}



.active{
    color:red!important;
}








