<header>

    <div class="centered-img fade-in">

        <div class="container"> 

            <div class="row">

                <div class="sevencol">

                    <div class="inner">

                        <h1 class="fade-in one">Samuel Chalmers<br/>Front-End Developer</h1>
                        
                        <nav class="main-nav fade-in two">
                            <ul>
                                <li>
                                    <a ng-href="#/index" >Home /</a>
                                </li>
                                <li>
                                    <a ng-href="#/latest" >Latest Work /</a> 
                                </li>
                                <li>
                                    <a ng-href="#/skillset" >Skillset</a>
                                </li>
                            </ul>
                        </nav>

                    </div>

                </div>

            </div>

        </div>

    </div>    

</header>


