
    <div class="row beta">

        <div class="twelvecol">
            <h2>My skillset</h2>

            <p><small>Key: Years experience</small></p>
            
            <ul class="skill-set" >
                <li ng-repeat="skill in skills" class="l{{skill.value}}">
                    <div class="bar">
                        {{skill.title}}
                        <p class="amount">{{skill.value}} Years</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <div class="row beta">

        <div class="twelvecol">
            <h2>My History</h2>
            <p>I have over nine years industry experience, seven of those in a fast paced agency working as a Front End  developer for award winning digital agencies, this has enabled me to work on some of the top international brands such as Nissan, ANZ, Coles, YMCA, Samsung, Cadbury’s, Miele, Carlsberg, MTV and Wolfblass.</p>

            <p>I mostly specialise in e-commerce and responsive websites although I also have experience creating a range of bespoke applications from small micro sites to e-learning activities, games, virals. </p>

            <p>I have a strong portfolio of HTML/CSS development including a solid understanding of best practice for SEO and hand crafted HTML5 and jQuery knowledge.  I am experienced in jQuery, Javascript, SASS, Middleman, Zurb-foundation and working in a Ruby environment development environment.</p>

            <p>My experience in the industry has given me a solid foundation in design and production techniques, whilst proving my ability to succeed and deliver on time and under pressure.</p>

            <p>In addition to my technical skills my strength lies in generating fresh ideas, exploring and refining project workflow and user experience, mentoring junior developers, communicating technical content to clients and non technical staff, working within a team environment towards a common objective. I’m always looking to combine my skills in a creative environment and expanding and developing my skill base and knowledge through application.</p>

        </div>
    </div>

    <div class="row beta">

        <div class="twelvecol">
            <h2>Reactive</h2>

            <p><strong>Web address:</strong> <a href="http://www.reactive.com/">www.reactive.com</a></p>

            <p>I've been with reactive for almost 3 years now. <a href="http://www.reactive.com/">Reactive</a> are an award-winning digital agency with offices in Melbourne, Sydney, London, Auckland and New York. Reactive is one of Australia’s largest and longest running independent digital agencies, with clients like <a href="http://www.coles.com.au">Coles</a>, <a href="http://www.gomoney.anz.com/">ANZ</a>, <a href="http://www.nissan.com.au/">Nissan</a>, <a href="www.victoria.ymca.org.au">YMCA</a>, <a href="http://www.seeklearning.com.au/">SEEK</a>, <a href="http://www.diamondexchange.com.au/">Diamond Exchange</a> and many more.
            </p>
        </div>
    </div>

    <div class="row beta">

        <div class="twelvecol">
            <h2>Big Communications</h2>

            <p><strong>Web address:</strong> <a href="http://www.bigcommunications.co.uk/">www.bigcommunications.co.uk</a></p>

            <p>I worked at Big Communications for 5 years while in the UK. Big is an award-winning integrated creative agency with specialist expertise in brand, digital, strategy, sales activation and PR, with clients like <a href="http://www.lucozade.com/">Lucozade</a>, <a href="http://www.dominos.co.uk/">Dominos</a>, <a href="http://www.cadbury.co.uk/">Cadbury</a>, <a href="http://www.miele.co.uk/">Miele</a> and more.</p>
        </div>
    </div>


    <div class="row beta">

        <div class="twelvecol">
            <h2>Dpicreative</h2>

            <p>I've started my career freelancing in the UK. I was lucky enough to get in with some brillant clients such as MTV and worked on the european versions of the Jackass game. I also honed my skillset on local business websites and learnt through doing it the hardway. This was a really important time for me as I learnt what it takes to run a business, how to liase with clients and deal with the day-to-day of being a professional web developer.</p>
        </div>
    </div>

    <div class="row beta">

        <div class="twelvecol">
            <h2>Education</h2>
            <p>Advanced Certificate in Computing - Weltec (2004)</p>
            <p>Postgraduate Diploma in Multimedia Arts - Otago University (2000)</p>
            <p>Bachelor of Arts - Otago University (1996-1999) - Majoring in Design</p>
        </div>
    </div>